<!DOCTYPE html>
<html xmlns:th = "www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="py-4 text-center">
            <h2>Test Form</h2>
            </div>
            <form th:action="@{/form}" method="post" th:object="${dto}">
                <div>
                    <label for="name">이름</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control">
                </div>
                <br>
                <div>CheckBox Test</div>
                <div>
                    <div class="form-check">
                        <input type="checkbox" th:field="${dto.trueOrFalse}" class="form-check-input">
                        <label for="trueOrFalse" class="form-check-label">True or False</label>
                    </div>
                </div>
                <hr class="my-4">
                <div>
                    <div>취미 선택(다중 선택 가능)</div>
                    <div th:each="hobby : ${hobbies}" class="form-check">
                        <input type="checkbox" th:field="*{hobbies}" th:value="${hobby.key}"
                               class="form-check-input">
                        <label th:for="${#ids.prev('hobbies')}" th:text="${hobby.value}"
                               class="form-check-label"></label>
                    </div>
                </div>
                <br>
                <div>전공 선택(한 개만 선택 가능)</div>
                <div th:each="lang : ${language}" class="form-check form-check-inline">
                    <!--반복문 th:each-->
                    <input type="radio" th:field="*{language}" th:value="${lang.name()}"

                           class="form-check-input">
                    <!--radio type 사용,th:field 이름과 dto의 이름이 같아야한다-->
                    <!--class는 css 타입 참조하는 역할-->
                    <label th:for="${#ids.prev('language')}"
                           th:text="${lang.description}" class="form-check-label"></label>
                    <!--#ids.prev는 이전 태그의 ID를 가져오는 기능-->
                </div>
                <br>
                <hr class="my-4">
                <div>국가 선택</div>
                    <select th:field="*{country}" class="form-select">
                        <option value="">*******국 가 를 선 택 하 세 요*********</option>
                        <option th:each="c : ${country}" th:value="${c.name()}"
                                th:text="${c.description}"></option>
                    </select>

                <button class="btn btn-primary" type="submit">전송</button>
            </form>
        </div>

</body>
</html>